body {
    background-color: rgba(255, 255, 255, 0.8);
    background-image: url('/static/imgs/plant.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #0e0d0d;
    
}
.container-about 
 {
  
      max-width: 90%;
      margin: 40px auto;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      text-align: left;
      background-color: rgb(255, 255, 255,0.9); /* Add a semi-transparent white background for better readability */
      position: absolute;
      top: 15%;
      right: 20px;
      left: 10px;
      transform: translateX(0%);
  }
  h2 
  {
       text-align: center;
       background-color: rgba(36, 181, 181, 0.8);
       color: white; /* Set the text color to make it readable on the background color */
       padding: 15px; /* Add padding to create some space around the text */
       border-radius: 10px; /* Set the border-radius to create rounded corners */
  }

  p {
   font-size: 1.3em; /* 120% of the parent element's font size */
}
.navbar {
    z-index: 9999; /* Set a high z-index to ensure the navbar appears above other content */
}
/* Media Query for small screens */
@media (max-width: 991px) {
    .container-about {
        padding-top: 90px; /* Adjust based on your menu bar height */
    }
}