body {
        background-color: rgba(255, 255, 255, 0.8);
        background-image: url('/static/imgs/plant.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        color: #0e0d0d;
    }

.container-about 
   {
    
        max-width: 500px;
        margin: 40px auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        text-align: left;
        background-color: rgb(255, 255, 255,0.9); /* Add a semi-transparent white background for better readability */
        
        position: absolute;
        top: 50%;
        left: 100px;
        transform: translateY(-50%);
       
    }
    
.container-plant 
   {
    
        max-width: 300px;
        margin: 50px auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.9); /* Add a semi-transparent white background for better readability */
        
        position: absolute;
        top: 50%;
        right: 200px;
        transform: translateY(-50%);
      }
      .benefits {
        text-align: left; /* Align text to the left */
      }
.container-water 
   {
    
        max-width: 300px;
        margin: 40px auto;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
        text-align: center;
        background-color: rgba(255, 255, 255, 0.9); /* Add a semi-transparent white background for better readability */
        
        position: absolute;
        top: 60%;
        right: 100px;
        transform: translateY(-50%);
   }
   h1 {
    text-align: center;
    background-color: rgba(36, 181, 181, 0.8);
    color: white; /* Set the text color to make it readable on the background color */
    padding: 15px; /* Add padding to create some space around the text */
    border-radius: 10px; /* Set the border-radius to create rounded corners */
}


h2 
   {
        text-align: center;
        background-color: rgba(36, 181, 181, 0.8);
        color: white; /* Set the text color to make it readable on the background color */
        padding: 15px; /* Add padding to create some space around the text */
        border-radius: 10px; /* Set the border-radius to create rounded corners */
   }


.form-container
 {
    display: flex;
    align-items: center;
    justify-content:left;
    flex-wrap: wrap;
    padding: 20px; /* Add some padding around the forms */
   
 }



.predict-container
 {
    width: 300px; /* Adjust the width as needed */
    background-color: #fff;
    padding: 45px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }

.radio-label 
  {
    display: inline-block; /* Display options inline */
    margin-right: 20px; /* Adjust spacing between radio buttons */
  }

button 
  {
    margin-top: 10px; /* Add space between radio buttons and submit button */
  }

.container-jpg

  {
    position: relative;
    width: 100%;
  }

.overlay
 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: rgba(255, 255, 255, 0.5); /* Adjust opacity here */
 }

img {
    display: block;
    width: 100%;
    height: auto;
}

.banner {
  width: 100%;
  height: 100px; /* Adjust height as needed */
  background-color: rgba(36, 181, 181, 0.8);
  color: white;
  position: fixed;
  top: 10;
  left: 0;
  z-index: 9999; /* Make sure it's on top of other elements */
 
  overflow: hidden; /* Hide overflowing text */
  display: flex; /* Use flexbox */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */

}

.banner-text {
  
  white-space: nowrap; /* Prevent text from wrapping */
    font-size: 45px; /* Adjust font size as needed */
    animation: scrollText 20s linear infinite; /* Adjust animation duration as needed */
    padding-left: 100%; /* Start text from the middle */
    display: flex;
    align-items: center; /* Center vertically */
   
}

@keyframes scrollText {
  0% {
      transform: translateX(-100%);
  }
  100% {
      transform: translateX(0%);
  }
}

/* Media queries for smaller screens */
@media screen and (max-width: 768px) {
  .container-about,
  .container-plant,
  .container-water {
      max-width: 90%; /* Adjust max-width for smaller screens */
      margin: 20px auto; /* Adjust margin for smaller screens */
      position: static; /* Reset position for smaller screens */
      transform: none; /* Reset transform for smaller screens */
      top: auto; /* Reset top position for smaller screens */
      left: auto; /* Reset left position for smaller screens */
      right: auto; /* Reset right position for smaller screens */
  }
}

    