<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Radio Buttons Example</title>
    <link rel="stylesheet" type="text/css" href='../static/css/style1.css'>
    <script src="/static/js/script.js"></script>
</head>

<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button
        data-mdb-collapse-init
        class="navbar-toggler"
        type="button"
        data-mdb-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          <a class="nav-link" href="#">Features</a>
          <a class="nav-link" href="#">Pricing</a>
          <a class="nav-link disabled"
            >Disabled</a
          >
        </div>
      </div>
    </div>
  </nav>

<div class="banner">
    <div class="banner-text">AquaGrowth Forecast</div>
</div>
<body>
    
        <div class="overlay"></div>
        <div class="container-about">
     
           
            <P><b>About AquaGrowthForecast</b></P>
            <p>
                AquaGrowthForecast, a small-scale project contributing to the aquaponics community, offers an online platform for predicting plant growth and monitoring water quality. This initiative aims to serve individuals within the aquaponics community seeking insights into these critical aspects of their systems. Plant growth is determined by parameters such as plant height or diameter, while water quality is assessed through measurements of water temperature or pH levels.
            </p>
           
        </div>
    </div>
    
    

<script>

</script>

</body>
</html>